In [ ]:
import requests

response = requests.post("http://localhost:8080/admin/login", json={"account": "delta", "password": "password"})

In [ ]:
token = response.json()["profile"]["bearerToken"]
headers = {"Authorization": f"Bearer {token}"}

### Accounts

`delta-sharing-rs` specific account fetching and creation

In [ ]:
# list all accounts
resp = requests.get("http://localhost:8080/admin/accounts?maxResults=100", headers=headers)
accounts = resp.json()
accounts

In [ ]:
# fetch account details
account_name = accounts["items"][0]["name"]
resp = requests.get(f"http://localhost:8080/admin/accounts/{account_name}", headers=headers)
account = resp.json()
account

In [ ]:
# create a new account
account = {
    "email": "mail@delta.io",
    "name": "created",
    "namespace": "delta",
    "password": "delta",
    "ttl": 28800,
}
resp = requests.post("http://localhost:8080/admin/accounts", headers=headers, json=account)
resp.json()

### Shares

In [ ]:
new_share = {
    "name": "dev-share",
}
resp = requests.post("http://localhost:8080/admin/shares", headers=headers, json=new_share)
resp.json()

In [ ]:
resp = requests.get("http://localhost:8080/shares", headers=headers)
shares = resp.json()
shares

In [ ]:
share_name = shares["items"][0]["name"]
resp = requests.get(f"http://localhost:8080/shares/{share_name}", headers=headers)
resp.json()

In [ ]:
share_name = shares["items"][0]["name"]
resp = requests.get(f"http://localhost:8080/shares/{share_name}/all-tables", headers=headers)
resp.json()

In [ ]:
# add a schema
new_schema = {
    "name": "dev-schema",
}
resp = requests.post(f"http://localhost:8080/admin/shares/{share_name}/schemas", headers=headers, json=new_schema)
resp.json()

In [ ]:
# list all schemas in a share
share_name = shares["items"][0]["name"]
resp = requests.get(f"http://localhost:8080/shares/{share_name}/schemas", headers=headers)
resp.json()

In [10]:
import pyarrow as pa


HN_ITEMS_SCHEMA = pa.schema(
    [
        pa.field("id", pa.int64()),
        pa.field("parent", pa.float64()),
        pa.field("time", pa.int64()),
        pa.field("type", pa.string()),
        pa.field("by", pa.string()),
        pa.field("text", pa.string()),
        pa.field("kids", pa.list_(pa.int64())),
        pa.field("score", pa.float64()),
        pa.field("title", pa.string()),
        pa.field("descendants", pa.float64()),
        pa.field("url", pa.string()),
    ]
)

HN_ITEMS_SCHEMA

id: int64
parent: double
time: int64
type: string
by: string
text: string
kids: list<item: int64>
  child 0, item: int64
score: double
title: string
descendants: double
url: string

In [11]:
from deltalake import DeltaTable

DeltaTable("/home/reap/code/deltalake-ui/.data/core/comments").to_pandas()

                 hour        id  ...   url  __index_level_0__
0 2022-02-02 23:00:00  30185410  ...  None                  0
1 2022-02-02 23:00:00  30185420  ...  None                 10
2 2022-02-02 23:00:00  30185430  ...  None                 20
3 2022-02-02 23:00:00  30185440  ...  None                 30
4 2022-02-02 23:00:00  30185450  ...  None                 40
5 2022-02-02 23:00:00  30185460  ...  None                 50
6 2022-02-02 23:00:00  30185470  ...  None                 60
7 2022-02-02 23:00:00  30185480  ...  None                 70
8 2022-02-02 23:00:00  30185490  ...  None                 80

[9 rows x 13 columns]

In [13]:
DeltaTable("/home/reap/code/deltalake-ui/.data/core/items").to_pandas()

                  hour        id  ...   url  __index_level_0__
0  2022-02-02 23:00:00  30185410  ...  None                  0
1  2022-02-02 23:00:00  30185420  ...  None                 10
2  2022-02-02 23:00:00  30185430  ...  None                 20
3  2022-02-02 23:00:00  30185440  ...  None                 30
4  2022-02-02 23:00:00  30185450  ...  None                 40
..                 ...       ...  ...   ...                ...
76                 NaT  30186170  ...  None                760
77                 NaT  30186180  ...  None                770
78                 NaT  30186190  ...  None                780
79                 NaT  30186200  ...  None                790
80                 NaT  30186210  ...  None                800

[81 rows x 13 columns]